body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 70%;
    margin: auto;
}

.bin {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.text {
    text-align: center;
}